<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventionsquiz"
    android:versionCode="1"
    android:versionName="1.0" >
    
    
      <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- optional permissions - required only when integrating the home button exit ad -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mostwanted.inventionsquiz.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mostwanted.inventionsquiz.L1"
               android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>>
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.L2"
               android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>>
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.L3">
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.L4">
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.L5">
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.L6">
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.L7">
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.L8">
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.L9">
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.Levels">
            </activity>
            <activity
            android:name="com.mostwanted.inventionsquiz.About">
            </activity>
             <activity
            android:name="com.mostwanted.inventionsquiz.Inst">
            </activity>
             <activity
            android:name="com.startapp.startappinterstitialexample.MainActivity"
         >
     
        </activity>
    </application>

</manifest>
